<article>
  <h2>Your Cart</h2>
  <table>
    <% cart.line_items.each do |line_item| %>
      <%= render partial: 'line_items/line_item', locals: {delete_last_redirect: delete_last_redirect, line_item: line_item} %>
    <% end %>
    <tfoot>
    <tr>
      <th colspan="2">Total:</th>
      <td class="price"><%= number_to_currency(cart.total_price) %></td>
    </tr>
    </tfoot>
  </table>
  <div class="actions">
    <%= button_to 'Checkout', new_order_path, method: :get, class: "checkout" unless delete_last_redirect%>
    <%= button_to 'Empty cart', cart, method: :delete, class: "empty_cart", data: { confirm: 'Are you sure?' }, remote: (current_page?(:controller => 'orders', :action => 'new') ? false:true) %>
  </div>
</article>
