<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr>
<% end %>
  <td class="quantity"><%= line_item.quantity %></td>
  <td><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  <td>
<!--trenutno ne radi samo ako odmah idem brisat prvi item Äim ga stavim u cart-->
    <% if sum_of_quantity(@cart) > 1%>
      <%= button_to 'Remove', line_item, method: :delete, class: "remove_button", remote: (delete_last_redirect && (@cart.line_items.count == 1 && line_item.quantity==1) ? false:true) %>
    <% end %>
  </td>
</tr>


